<h2 class="ui header">Thesaurus Entry: <span class="main-entry"><%= @word.word %></span></h2>

<div class="ui segment">
  <%= form_for @word do |f| %>
    <%= f.text_area :description, class: 'description-text-area', disabled: !user_signed_in?  %>
    <br/>
    <%= f.submit 'Save description', class: "ui button primary#{ ' disabled' unless user_signed_in?}" %>
  <% end %>
</div>

<div class="ui segment">
  <% if @relations.any? %>

    <% @relations.each do |rel| %>
      <div class="ui segment word-entry<%= ' bad-word' if rel.vote_avg && rel.vote_avg < 2 %>"
           data-controller="word tags" data-tags-word-value="<%= rel.other_word(@word).word %>"
           data-word-url-value="<%= vote_word_relation_path(rel) %>">
        <%= link_to rel.other_word(@word).word, rel.other_word(@word) %>
        <%= content_tag :div, '',
                        class: 'ui yellow rating',
                        disabled: !user_signed_in?,
                        data: {
                          'word-target': 'rating',
                          rating: rel.vote_avg,
                          content: user_signed_in? ? 'Click to add or change your vote!' : ''
                        }
        %> (<span data-word-target="count"><%= rel.vote_count %></span>)

        <select class="ui dropdown search selection allowAdditions word-tags" multiple<%= ' disabled' unless user_signed_in? %>>
          <option value="">Add Tags...</option>
          <% rel.other_word(@word).tags.each do |tag| %>
            <option selected value="<%= tag.tag %>"><%= tag.tag %></option>
          <% end %>
        </select>
      </div>
      <% end %>
  <% else %>
    <h3>No related words found. Add one?</h3>
  <% end %>
</div>
<div class="ui segment word-suggestions">
  Suggest a Related Word:
  <%= form_for '', url: add_related_word_word_path(@word) do %>
    <div class="ui huge icon input">
      <%= text_field_tag :new_word, '', placeholder: 'Enter Related Word...', disabled: !user_signed_in? %>
    </div>
    <%= submit_tag 'Add', class: "ui button primary huge #{ ' disabled' unless user_signed_in? }" %>
  <% end %>
</div>
