<!DOCTYPE html>
<html>
  <head>
    <title>Naming Is Hard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted vertical segment">
      <div class="ui grid">
        <div class="two wide column"></div>
        <div class="eight wide column">
          <%= link_to 'Naming Is Hard', '/', class: 'ui header inverted huge' %>
        </div>
        <div class="five wide column right aligned">
          <% if user_signed_in? %>
            <span class="current-user"><%= current_user.name %></span>
            <%= button_to('Logout',
                          destroy_user_session_path,
                          method: :delete,
                          class: 'ui button inverted',
                          form_class: 'inline-form'
                          ) %>
          <% else %>
            <%= button_to('Login', new_user_session_path,
                          {
                            method: :get,
                            class: 'ui button inverted',
                            form_class: 'inline-form'
                          }
                          ) %>
          <% end %>
        </div>
        <div class="one wide column"></div>
      </div>
    </div>
    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="fourteen wide column">


        <div class="ui segment basic">
          <% flash.each do |key, value| %>
            <% css = key.to_s == 'notice' ?  'info' : 'negative' %>
            <div class="ui message <%= css %>">
              <i class="close icon"></i>
              <p><%= value %></p>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
